.{prefix}-Topbar
	display: block
	padding: base-vs base-hs
	cursor: pointer
	clearfix()

	&__branding-logo
		height: 24px
		width: auto
		display: block
		float: left

	&__badge
		display: block
		color: white-text
		font-size: em(12px)
		height: 18px
		padding: 0 (base-hs / 2)
		border: 1px solid white-text
		border-radius: 10px
		line-height: 1
		padding-top: 2px
		text-align: center
		float: right
		margin-left: base-hs
		margin-top: 4px
