.{OC}-Message
	padding: (base-vs / 2) base-hs
	word-break: break-word
	overflow-wrap: break-word
	word-wrap: break-word
	position: relative
	border-bottom: 1px solid #eaeaea;

	&__content
		&--embed
			padding: 0 0.5em
			color: #006d9a
			cursor: pointer
			transform: scale(0.7, 1)
			display: inline-block
			font-weight: bold

		&--embed-wrapper
			overflow: hidden
			position: relative
			left: -(base-hs)
			margin-right: -(base-hs * 2)
			background: #fff
			border: 3px solid #ff5722
			border-width: 3px 0
			margin-top: base-vs
			padding: base-vs 0

		&--embed-content
			clear: both

		&--embed-loading
			display: block
			text-align: center
			text-decoration: none
			color: black-text
			cursor: default

		&--embed-close
			top: base-vs
			right: base-hs
			position: absolute
			z-index: 1

	&--highlight
		background-color: #FBE9E7

	&--action &__content
		font-style: italic

		&-author

			&:before
				content: '~ '

	&--pending
		.{OC}-Message__author, .{OC}-Message__content, .{OC}-Message__timestamp
			opacity: .4

.{OC}-Message--inline
	.{OC}-Message
		&__timestamp
			color: black-hint
			position: absolute
			font-size: em(14px)
			left: base-hs
			top: base-vs / 2

		&__author
			font-weight: 500
			cursor: pointer
			font-size: em(14px)
			margin-right: 8px

			&:hover
				opacity: .7

		&__content
			font-size: em(14px)

			&--username
				font-style: italic

		&__error
			background: #DC7B7B
			color: #754141
			padding: 8px
			border: 1px solid #9C6464

			&-retry
				cursor: pointer
				margin-left: 1em

.{OC}-Message--block
	.{OC}-Message
		&__timestamp
			color: black-hint
			font-size: em(12px)
			margin-left: 9px
			display: inline
			float: right

		&__content
			font-size: em(14px)
			display: block

			&--username
				font-style: italic

		&__author
			font-weight: 500
			cursor: pointer
			font-size: em(14px)

			&:hover
				opacity: .7

		&__error
			background: #DC7B7B
			color: #754141
			padding: 8px
			border: 1px solid #9C6464

			&-retry
				cursor: pointer
				margin-left: 1em
